{
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-organize-imports",
    "prettier-plugin-jsdoc",
    "prettier-plugin-tailwindcss"
  ],
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "organizeImportsSkipDestructiveCodeActions": true
}